---
import Layout from "@layouts/Layout.astro";
import InteractableCard from "@components/InteractableCard.astro";
import InfoCard from "@components/InfoCard.astro";
import NavigationBar from "@components/NavigationBar.astro";

import { Button, Hero, Header } from "@components";

import "@styles/launch.scss";

import Grid from "@components/Grid.astro";
---

<Layout title="Keyflow">
    <main>
        <p class="instructions">
            Celebrate the Keyflow launch with <strong>15%</strong> off. Use code
            <code class="inline">RELEASE15</code> at checkout and streamline authentication
            for your applications. Limited time only.
        </p>

        <Header>
            <h1>
                The <span class="gradient">Simplest</span> Way to Secure Your Applications
            </h1>
            <p>
                Security shouldn't be a hassle. <span class="gradient">Simplify</span> your authentication with Keyflow.
            </p>
            <Button text="Try Keyflow for free →"/>
        </Header>

        <div>
            <h2>API Reference & Examples</h2>
            <Grid cols="2" cols_wrap="1" minHeight="120px">
                <InteractableCard
                    href="/docs"
                    title="Documentation"
                    body="Get started guides, tutorials & API reference."
                />
                <InteractableCard
                    href="/examples"
                    title="Examples"
                    body="Integrations to enhance your workflow."
                />
            </Grid>
        </div>

        <Hero image="/window.svg" imgPos="right">
            <h1>
                Safeguard Your Applications with <span class="gradient"
                    >Effortless</span
                >
                Authentication
            </h1>
            <p>
                Keyflow simplifies the authentication process, ensuring the
                security of your applications without the hassle.
            </p>
        </Hero>

        <Hero image="/login_form.svg">
            <h1>
                Create Login Forms with <span class="gradient">Ease</span>
                and <span class="gradient">Efficiency</span>
            </h1>
            <p>
                Keyflow provides a seamless and secure user experience,
                signature checks, ensuring efficiency in every step.
            </p>
        </Hero>

        <div>
            <h2>Why Choose Keyflow?</h2>
            <Grid cols="3" cols_wrap="1" maxHeight="450px">
                <InfoCard
                    image="/icon_shield.svg"
                    title="Privacy first"
                    body="We maintain the privacy and security of our consumers through robust security measures."
                />
                <InfoCard
                    image="/placeholder.webp"
                    title="Seamless integration"
                    body="Creators can connect Keyflow with their favorite utilities to develop in a unified workflow."
                />
                <InfoCard
                    image="/placeholder.webp"
                    title="Personalized Experience"
                    body="Administrators can customize Keyflow to fit their needs, creating a unique experience."
                />
            </Grid>
        </div>
    </main>
</Layout>
