---
interface Props {
    image: string;
    text?: string;
    backColor?: string;
    href?: string;
}

const { image, text, backColor = "#dc143c", href } = Astro.props;
---

<a href={href}>
    <button class="image-button">
        <img src={image} alt={text} />
        {text}
    </button>
</a>

<style>
    .image-button {
        display: inline-flex; /* Use flexbox for inline layout */
        align-items: center; /* Align items vertically */
        text-decoration: none; /* Remove default underline */
    }

    img {
        width: 24px; /* Adjust width of the icon */
        height: 24px; /* Adjust height of the icon */
        margin-right: 5px; /* Add spacing between icon and text */
    }

    span {
        font-size: 14px; /* Adjust font size of the text */
        color: white; /* Text color */
    }
</style>
