---
import ImageButton from "./ImageButton.astro";
---

<div>
    <ImageButton href="#" image="/arrow-up-solid.svg"/>
</div>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        padding: 30px 80px;
    }

    .container h1 {
        text-align: center;
        font-size: 35px;

    }
</style>