<a href="#" class="to-top-button">
    <img src="/arrow-up-solid.svg" alt="arrow-up"/>
</a>

<style>
    .to-top-button {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #dc143c;
        border-radius: 0.5rem;;
    }
</style>