---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<meta
		name="38168714c41244eb29216a4a09c26cd7bdbe858a"
		content="38168714c41244eb29216a4a09c26cd7bdbe858a"
	/>

	<!-- <div>
		<script is:inline type="text/javascript">
			(function (fyy) {
				var d = document,
					s = d.createElement("script"),
					l = d.scripts[d.scripts.length - 1];
				s.settings = fyy || {};
				s.src =
					"//shocking-honey.com/cbDa9_6.bw2/5/lQSlWHQO9ZNPTnMx3FOYDJIN1_NxCw0w1dM/zfct4hMCjAUi1d";
				s.async = true;
				l.parentNode.insertBefore(s, l);
			})({});
		</script>
	</div>

	<div>
		<script is:inline type="text/javascript">
			(function (frft) {
				var d = document,
					s = d.createElement("script"),
					l = d.scripts[d.scripts.length - 1];
				s.settings = frft || {};
				s.src =
					"//infantilecombination.com/b.XWVvshdKGhle0GY/W/ddiVY_Wd5WuQZmXeIq/eeMmw9ruzZ/UvlOksPYTRUszdNVzPgzy/NkzfgitFNFTxMB3/O/DVIg3HOhQG";
				s.async = true;
				l.parentNode.insertBefore(s, l);
			})({});
		</script>
	</div>

	<div>
		<script is:inline type="text/javascript">
			(function (iwj) {
				var d = document,
					s = d.createElement("script"),
					l = d.scripts[d.scripts.length - 1];
				s.settings = iwj || {};
				s.src =
					"//infantilecombination.com/bgXpVRsyd.Gole0/Y/Wscn/Eeqmq9sudZOUwl_keP/T/UWzJNOzAgkyfOMD/gqtNN/TOMu3jO/DTIk4YOAQV";
				s.async = true;
				l.parentNode.insertBefore(s, l);
			})({});
		</script>
	</div>

	<div>
		<script is:inline type="text/javascript">
			(function (byj) {
				var d = document,
					s = d.createElement("script"),
					l = d.scripts[d.scripts.length - 1];
				s.settings = byj || {};
				s.src =
					"//infantilecombination.com/a.WX5-wcY/W_dml/Q/2W9qkFZdTP9g6tb/2t5xltS/WSQj9jNDTXMf3AOEDfIp5JO/C/0a1UM/zvc/4uMRjmkh5y";
				s.async = true;
				l.parentNode.insertBefore(s, l);
			})({});
		</script>
	</div>

	<div>
		<script is:inline type="text/javascript">
			(function (__htavim) {
				var d = document,
					s = d.createElement("script"),
					l = d.scripts[d.scripts.length - 1];
				s.settings = __htavim || {};
				s.src =
					"//shocking-honey.com/dPm.F/zSdxG/lftrPA3opmvHbbmBVjJ/ZTDC0y1/MIzQcp4vMgzcAmy-LITDUPzONazEgAz/MPDUMz";
				s.async = true;
				l.parentNode.insertBefore(s, l);
			})();
		</script>
	</div>
	<div>
		<script
			is:inline
			type="text/javascript"
			async
			src="https://appsha-prm.ctengine.io/js/script.js?wkey=l2QVVMo45j"
		></script>
	</div>

	<div>
		<iframe
			data-aa="2329685"
			src="//ad.a-ads.com/2329685?size=970x250"
			style="width:970px; height:250px; border:0px; padding:0; overflow:hidden; background-color: transparent;"
		></iframe>
	</div>

	<div>
		<div id="frame" style="width:320px;">
			<iframe
				data-aa="2329689"
				src="//ad.a-ads.com/2329689?size=320x50"
				style="width:320px; height:50px; border:0px; padding:0; overflow:hidden; background-color: transparent;"
			></iframe><a
				style="display: block; text-align: right; font-size: 12px"
				id="preview-link"
				href="https://a-ads.com/?partner=2329689">Advertise here</a
			>
		</div>
	</div> -->

	<meta charset="UTF-8" />
	<meta name="description" content="Keyflow Authentication & Licensing" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>

	<body>
		<slot />
	</body>

	<!-- Global styles -->
	<style is:global>
		body {
			font-family: system-ui, sans-serif;
			background: rgb(var(--background));
			background-size: 224px;
			position: relative;
		}

		:root {
			--background: 4, 4, 11;
			--accent: 114, 115, 203;
			--accent-light: 224, 204, 250;
			--accent-dark: 49, 10, 101;
			--accent-gradient: linear-gradient(
				45deg,
				rgb(var(--accent)),
				rgb(var(--accent-light)) 30%,
				white 60%
			);
		}

		html {
			scroll-behavior: smooth;
			scrollbar-width: none;
		}

		code {
			font-family:
				Menlo,
				Monaco,
				Lucida Console,
				Liberation Mono,
				DejaVu Sans Mono,
				Bitstream Vera Sans Mono,
				Courier New,
				monospace;
		}

		.text-gradient {
			background-image: var(--accent-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			background-position: 0%;
		}
	</style>

	<!-- Private styles -->
	<style>
		.back-to-top {
			position: fixed;
			bottom: 2rem;
			right: 2rem;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background-color: #dc143c;
			border-radius: 0.5rem;
			padding: 0.5rem;
		}

		.back-to-top span {
			color: #fff;
			font-size: 3rem;
			transition: 0.2s ease-out;
		}
	</style>
</html>
