---
import ImageButton from "../components/ImageButton.astro";
import ToTopButton from "../components/ToTopButton.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<meta
		name="38168714c41244eb29216a4a09c26cd7bdbe858a"
		content="38168714c41244eb29216a4a09c26cd7bdbe858a"
	/>

	<meta charset="UTF-8" />
	<meta name="description" content="Astro description" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>

	<body>
		<slot />
		<ToTopButton />
	</body>
</html>

<!-- Global styles -->
<style is:global>
	body {
		font-family: system-ui, sans-serif;
		background: rgb(var(--background));
		background-size: 224px;
		position: relative;
	}

	:root {
		--background: 4, 4, 11;
		--accent: 114, 115, 203;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	html {
		scroll-behavior: smooth;
		scrollbar-width: none;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>

<!-- Private styles -->
<style>
	.back-to-top {
		position: fixed;
		bottom: 2rem;
		right: 2rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: #dc143c;
		border-radius: 0.5rem;
		padding: 0.5rem;
	}

	.back-to-top span {
		color: #fff;
		font-size: 3rem;
		transition: 0.2s ease-out;
	}
</style>
